/*General Selectors*/



/* ID Selectors (#)*/
#main-doc
{
    display: grid;
    grid-template-columns: 1.5fr 8fr;
    grid-template-rows: auto;

}

#col-1
{
    background-color: blueviolet;
    border-right: 3px black solid;

}

#col-2
{
    background-color: rgb(183, 193, 26);

}

#navbar
{
    display: flex;
    flex-direction: column;
    border: solid 3px black;
    
}


/* Class Selectors  (.)*/
.flex-row
{
    border-bottom: black 0.5px solid;
    padding: 10px 0px 10px 10px;
    

}

/* Pseudo Class Selectors  (x:y)*/


/* Media Queries  */

/*Media query for regular sized devices (desktops/laptops)
Always visible and always fixed on the left side of the screen.*/

@media (min-width: 1281px)
{
    #navbar
    {
        visibility: visible;
        position: fixed;
    }
}
