/*General Selectors*/



/* ID Selectors (#)*/
#main-doc
{
    display: grid;
    grid-template-columns: 1.01fr 8fr;
    grid-template-rows: auto;

}

#col-1
{
    border-right: 2px black solid;

}

#col-2
{
    padding: 1rem;

}

#navbar
{
    display: flex;
    flex-direction: column;
}

#code-container
{
    background-color: rgba(168, 168, 161, 0.6);
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
}

/* Class Selectors  (.)*/
.flex-row
{
    border-bottom: black 0.5px solid;
    padding: 10px 0px 10px 5px;
    

}

.flex-row a
{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

/* Pseudo Class Selectors  (x:y)*/

.flex-row a:hover
{
    color: red;
    transition: all 100ms ease-in;
}

.main-section li
{
    padding: 10px;
}
.main-section p
{
   padding-left: 10px;
}
.main-section h3
{
    padding-bottom: 5px;
}
/* Media Queries  */

/*Media query for regular sized devices (desktops/laptops)
Always visible and always fixed on the left side of the screen.*/

@media (min-width: 1281px)
{
    #navbar
    {
        visibility: visible;
        position: fixed;
    }
}
