/*General Selectors*/



/* ID Selectors (#)*/
#main-doc
{
    display: grid;
    grid-template-columns: 1.01fr 8fr;
    grid-template-rows: auto;

}

#col-1
{
    border-right: 2px black solid;

}

#col-2
{
    background-color: rgb(183, 193, 26);
    padding: 1rem;

}

#navbar
{
    display: flex;
    flex-direction: column;
    
}


/* Class Selectors  (.)*/
.flex-row
{
    border-bottom: black 0.5px solid;
    padding: 10px 0px 10px 10px;
    

}

.flex-row a
{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

/* Pseudo Class Selectors  (x:y)*/

.flex-row a:hover
{
    color: red;
    transition: all 100ms ease-in;
}

/* Media Queries  */

/*Media query for regular sized devices (desktops/laptops)
Always visible and always fixed on the left side of the screen.*/

@media (min-width: 1281px)
{
    #navbar
    {
        visibility: visible;
        position: fixed;
    }
}
